.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

app-info {
    display: none;
}

.main-left {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel-box {
    position: relative;
}

.carousel-pic {
    width: 100%;
    height: auto;
}

.top-sh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background: linear-gradient(0deg, #060507 0%, rgba(6, 5, 7, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.right-sh {
    position: absolute;
    top: 0;
    right: 0;
    width: 172px;
    height: 100%;
    background: linear-gradient(90deg, #060507 0%, rgba(6, 5, 7, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.left-sh {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 100%;
    background: linear-gradient(90deg, #060507 0%, rgba(6, 5, 7, 0) 100%);
}

.bottom-sh {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background: linear-gradient(180deg, #060507 0%, rgba(6, 5, 7, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.logo-carousel {
    position: absolute;
    width: 15%;
    top: 40px;
    right: 20px;
}

.slide-info {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-pic {
    display: none;
}

.slider {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-cmd-slider {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.bar-slider {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.curr-bar,
.total-bar {
    position: absolute;
    height: 2px;
}

.curr-bar {
    width: 20%;
    background-color: #A75B12;
    z-index: 2;
}

.total-bar {
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
}

.right-cmd-slider {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.info-text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    color: #FFFFFF;
    transition: ease-in .2s;
}

.main-right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-pic {
    width: 100%;
    position: relative;
}

.top-pic .right-sh,
.top-pic .left-sh {
    width: 140px;
}

.top-pic img {
    width: 100%;
}

.bottom-pic {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.bottom-pic .right-sh {
    width: 80px;
}

.bottom-pic .top-sh {
    height: 80px;
}

.bottom-pic .left-sh {
    width: 172px;
}

.bottom-pic img {
    width: 100%;
}

.special-carac {
    position: absolute;
    width: 125%;
    top: 75%;
    left: 0;
    transform: translateY(-75%);
}

@media screen and (max-width: 1120px) {
    .info-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 1010px) {
    .main-container {
        flex-direction: column;
    }
    .main-left {
        width: 100%;
        align-items: flex-end;
    }
    .main-right {
        display: none;
    }
    .carousel-box .right-sh {
        display: none;
    }
    .carousel-box .left-sh {
        display: none;
    }
    .logo-carousel {
        display: none;
    }
    .carousel-pic {
        width: 100%;
    }
    .special-carac {
        top: 60%;
        left: -10%;
        transform: translate( -10%, -60%);
        width: 230%;
    }
    .main-container .right-sh,
    .main-container .left-sh {
        width: 80px;
        z-index: 999;
    }
    app-info {
        width: 100%;
        display: flex;
    }
    .slide-info-tablette {
        height: 30%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .slide-info {
        height: 50%;
        justify-content: space-between;
    }
    .slider {
        display: none;
    }
    .left-pic {
        position: relative;
        display: block;
        width: 25%;
    }
    .left-pic .top-sh {
        height: 80px;
    }
    .left-pic img {
        width: 100%;
    }
    .info-text {
        width: 60%;
        padding-right: 40px;
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .info-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {}