<div class="main-container">
    <div class="right-sh"></div>
    <div class="left-sh"></div>
    <div class="main-left">
        <div class="carousel-box">
            <div class="top-sh"></div>
            <div class="right-sh"></div>
            <div class="left-sh"></div>
            <div class="bottom-sh"></div>
            <img src="../../../assets/logo/MONTBLANC_MOTORCYCLE.png" alt="" class="logo-carousel">
            <img src="../../../assets/J22fFxm.gif" alt="" class="carousel-pic">
        </div>
        <div class="slide-info-tablette">
            <app-info></app-info>
            <div class="slide-info">
                <div class="slider">
                    <div class="left-cmd-slider">
                        <span class="left-chevron"><</span>
                        <span class="curr-slide">2</span>
                    </div>
                    <div class="bar-slider">
                        <div class="curr-bar"></div>
                        <div class="total-bar"></div>
                    </div>
                    <div class="right-cmd-slider">
                        <span class="nb-slide">10</span>
                        <span class="right-chevron">></span>
                    </div>
                </div>
                <div class="left-pic">
                    <div class="top-sh"></div>
                    <div class="right-sh"></div>
                    <div class="left-sh"></div>
                    <img src="../../../assets/montblanc_motorcycle_10.jpg" alt="">
                </div>
                <div class="info-text">The bike comes in all black, with a relatively modern appeal. Chrome accents in just the right places make the bike stand out, while the black-on-black satin text on the bike’s fork-guards helps highlight the company’s branding without
                    being too direct or obvious. </div>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="top-pic">
            <img src="../../../assets/first-half-pic.png" alt="">
            <div class="right-sh"></div>
            <div class="left-sh"></div>
        </div>
        <div class="bottom-pic">
            <img src="../../../assets/montblanc_motorcycle_10.jpg" alt="">
            <div class="top-sh"></div>
            <div class="right-sh"></div>
            <div class="left-sh"></div>
        </div>
    </div>
    <img src="../../../assets/VECTOR.svg" alt="" class="special-carac">
</div>