<div class="info-container">
    <div class="info-box">
        <div class="vert-text">Top speed</div>
        <div class="info-text">
            <div class="top-text">6-SPEED CONSTANT-MESH</div>
            <div class="middle-text">169 MPH</div>
            <div class="bottom-text">272 KM/H</div>
        </div>
    </div>
    <div class="info-box">
        <div class="vert-text">Power</div>
        <div class="info-text">
            <div class="top-text">121 kW</div>
            <div class="middle-text">162 HP</div>
            <div class="bottom-text">9.250 RPM</div>
        </div>
    </div>
    <div class="info-box">
        <div class="vert-text">Torque</div>
        <div class="info-text">
            <div class="top-text">8,800 RPM</div>
            <div class="middle-text">130.5 N <span>●</span> M</div>
            <div class="bottom-text">96.3 LBF⋅FT</div>
        </div>
    </div>
    <div class="info-box">
        <div class="vert-text">Fuel capacity</div>
        <div class="info-text">
            <div class="top-text">4.5 US GAL</div>
            <div class="middle-text">17 L</div>
            <div class="bottom-text">3.7 IMP GAL</div>
        </div>
    </div>
</div>