/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
    font-family: "Druk-Wide";
    src: url(./assets/fonts/Druk-Wide-Medium-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Druk-Wide";
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #060507;
    overflow: hidden;
}

app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}